<ul id="activity-list" class="list-group">
    {{#each model as |activity|}}
        <li class="list-group-item">
            {{activity.title}}<button class="destroy btn btn-xs btn-link">Remove</button>
        </li>
    {{/each}}
</ul>
{{input
  id="new-activity"
  placeholder="Enter a new activity"
  value=newTitle
  enter="createActivity"}}
{{outlet}}
